article{
    position: relative;
    margin: 128px auto;
    display: flex;
    flex-direction: column;
}

    article h3, article h4{ text-align: center; }
    article h4{ margin-top: 54px; margin-bottom: 24px; }

    article p{ text-align: justify; }
    article p::first-letter{ font-size: 1.5em ;}


    article em{
        color: var(--magenta);
        font-weight: 600;
    }

article.columns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 64px;
}

    article.columns p{
        text-align: left;
    }