
/* tem .fixado */
header{
    width: 100dvw; height: 100dvh;
    background-color: var(--magenta);
    z-index: 10;
    transition: top 500ms ease-in-out;
    transform-origin: bottom left;
}
header.invisible{ top: -100dvh; }

header:not(.invisible){
    animation: cair 1000ms ease-in-out forwards;
}

@keyframes cair {
    0%{ rotate: -10deg;}
    40%{ rotate: -50deg;}
    60%, 100%{ rotate: 0deg;}
}

    header > nav{
        position: relative;
        width: 100%; height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        header > nav > a{
            position: relative;
            width: 100%; height: auto;
            padding: 24px 48px;
            box-sizing: border-box;

            text-decoration: none;
            color: white;
        }
        header > nav > a:last-of-type{ text-align: right; }

            header > nav > a > div.divNotText{
                position: absolute;
                top: 100%; left: 0;
                width: 100%; height: 100%;

                transition: top 300ms;
            }
            header > nav > a > div.divNotText.back{ background-color: black; }
            header > nav > a > div.divNotText:not(.back){
                background-color: white;
                mix-blend-mode: difference;
            }
                header > nav > a:hover > div.divNotText{ top: 0; }
            header > nav > a > div:not(.divNotText){ position: relative; }
                header > nav > a > div:not(.divNotText) > h2 > i { text-transform: uppercase; }




/* btn setinha */

button#setinha{
    all: unset;
    position: absolute;
    top: 0; left: 0;
    padding: 12px;
    z-index: 100;
    transition: rotate 500ms;
}

button#setinha.rotate{
    rotate: 180deg;
    filter: brightness(0) invert(1);
}

    button#setinha > img{
        width: 70px; height: auto;
        cursor: pointer !important;
        transition: filter 150ms;
    }

    html:has(div.viewport.show.black) button#setinha > img:hover{
        filter: brightness(0) invert(1);
    }
    html:has(div.viewport.show:not(.black)) button#setinha > img:hover{
        filter: brightness(0);
    }